<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <main>
        <ol th:fragment="commentList(commentList)">
            <li th:each="comment : ${commentList}" data-mode="read" th:data-id="${comment.id}">
                <div th:if="${comment.status.name=='ACTIVE'}">
                    <div>
                        <span th:text="${comment.authorName}"></span><br>
                        <span th:text="${comment.comment}"></span>
                        <span th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                        <small th:if="${comment.createdAt!=comment.updatedAt}">(수정됨)</small>
                    </div>
                    <br>
                    <div sec:authorize="isAuthenticated()" class="exists_box">
                        <div th:if="${#authentication.name == comment.author.username}">
                            <button class="comment_edit">수정</button>
                            <form th:action="@{|/post/${comment.post.id}/comment/${comment.id}/delete|}" method="post" style="display:inline;">
                                <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                            </form>
                        </div>
                        <button class="comment_reply">답글 쓰기</button>
                    </div>
                    <div sec:authorize="isAnonymous()" class="exists_box">
                    </div>
                </div>
                <div th:unless="${comment.status.name=='ACTIVE'}">
                    삭제된 댓글입니다.
                </div>
                <ol th:if="${comment.child!=null}" th:replace="~{::commentList(${comment.child})}"></ol>
            </li>
        </ol>
    </main>
</body>