<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/motion.js}"></script>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header>
    <main id="postList">
    <h3>게시글 목록</h3>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/post/write}">글쓰기</a>
    </div>

    <p>total : <span th:text="${postPage.totalElements}"></span></p>
    <table class="post-list">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, iterStat : ${postPage.content}">
            <th th:if="${post.type.name() == 'NOTICE' and #strings.isEmpty(param.keyword)}" th:text="'<공지>'"></th>
            <th th:unless="${post.type.name() == 'NOTICE' and #strings.isEmpty(param.keyword)}" th:text="${postPage.totalElements-postPage.number*postPage.size-iterStat.index}"></th>
            <td>
                <a th:href="@{/post/{id}(id=${post.id})}" th:text="|${post.title} [${post.commentCount}]|"></a>
            </td>
            <td>
                <a th:href="@{/user/{id}/profile(id=${post.author.id})}" th:text="${post.authorName}"></a>
            </td>
            <td th:text="${post.view}"></td>
            <td th:text="${#temporals.format(post.publishedAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <span>
            <a th:href="@{/post(page=0, type=${type}, keyword=${keyword})}">처음</a>
        </span>
        <span>
            <a th:href="@{/post(page=${(postPage.number-5<0)?0:postPage.number-5}, type=${type}, keyword=${keyword})}">이전</a>
        </span>
        <span th:if="${postPage.totalPages}>0"
              th:each="i : ${#numbers.sequence(postPage.number-postPage.number%5, postPage.number-postPage.number%5+4>postPage.getTotalPages()-1?postPage.getTotalPages()-1:postPage.number-postPage.number%5+4)}">
            <a th:href="@{/post(page=${i}, type=${type}, keyword=${keyword})}"
               th:text="${i+1}"
               class="page-num"
               th:classappend="${i==postPage.number?'active':''}">
            </a>
        </span>
        <span>
            <a th:href="@{/post(page=${(postPage.getTotalPages()==0)?0:(postPage.number+5>postPage.getTotalPages()-1)?postPage.getTotalPages()-1:postPage.number+5}, type=${type}, keyword=${keyword})}">다음</a>
        </span>
        <span>
            <a th:href="@{/post(page=${(postPage.getTotalPages()==0)?0:postPage.getTotalPages()-1}, type=${type}, keyword=${keyword})}">끝</a>
        </span>
    </div>
    <form th:action="@{/post}" method="get">
        <select name="type">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="author">작성자</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}"/>
        <button type="submit">검색</button>
    </form>
    </main>
</body>
</html>