<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="layout/header :: header"></header>
<main id="delete" class="myPages">
    <div>
        <h2>마이페이지</h2>
    </div>
    <div>
        <nav>
            <ul>
                <li><a th:href="@{/user/myPage}">회원 정보 변경</a></li>
                <li><a th:href="@{/user/myHistory}">유저 활동 내역</a></li>
                <li><a th:href="@{/user/delete}">계정 삭제</a></li>
            </ul>
        </nav>
        <section>
            <form th:action="@{/user/delete}" method="post">
                <div th:if="${userStatus.status.name()=='ACTIVE'}">
                    <button type="submit" name="status" value="PENDING" onclick="return confirm('정말 삭제하시겠습니까?');">계정 삭제</button>
                </div>
                <div th:if="${userStatus.status.name()=='PENDING'}">
                    <p>계정 삭제 시 30일 이내에 복구 가능합니다.<br>
                        <span th:text="|복구 가능 기간 : ${#temporals.format(deadLine, 'yyyy-MM-dd HH:mm')}|"></span>
                    </p>
                    <button type="submit" name="status" value="ACTIVE" onclick="return confirm('다시 복구하시겠습니까?');">계정 복구</button>
                </div>
            </form>
        </section>
    </div>
</main>
</body>
</html>