<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시 저장</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/motion.js}"></script>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header>
    <main>
        <h3>임시 저장 목록</h3>

        <p>total : <span th:text="${postPage.totalElements}"></span></p>
        <table class="post-list">
            <tbody>
            <tr th:each="post, iterStat : ${postPage.content}">
                <td>
                    <a th:href="@{/post/write(id=${post.id})}" th:text="${post.title}"></a>
                </td>
                <td th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
        <span>
            <a th:href="@{/user/draft(id=${user.id}, page=0)}">처음</a>
        </span>
            <span>
            <a th:href="@{/user/draft(id=${user.id}, page=${(postPage.number-5<0)?0:postPage.number-5})}">이전</a>
        </span>
            <span th:if="${postPage.totalPages}>0"
                  th:each="i : ${#numbers.sequence(postPage.number-postPage.number%5, postPage.number-postPage.number%5+4>postPage.getTotalPages()-1?postPage.getTotalPages()-1:postPage.number-postPage.number%5+4)}">
            <a th:href="@{/user/draft(id=${user.id}, page=${i})}"
               th:text="${i+1}"
               class="page-num"
               th:classappend="${i==postPage.number?'active':''}">
            </a>
        </span>
            <span>
            <a th:href="@{/user/draft(id=${user.id}, page=${(postPage.getTotalPages()==0)?0:(postPage.number+5>postPage.getTotalPages()-1)?postPage.getTotalPages()-1:postPage.number+5})}">다음</a>
        </span>
            <span>
            <a th:href="@{/user/draft(id=${user.id}, page=${(postPage.getTotalPages()==0)?0:postPage.getTotalPages()-1})}">끝</a>
        </span>
        </div>
        <a th:href="@{/post/write}">뒤로가기</a>
        <a th:href="@{/post}">목록</a>
    </main>
</body>
</html>