<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/motion.js}"></script>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header>
    <main>
        <section id="main">
            <h2><a th:href="@{/post}">게시판 바로가기</a></h2>
        </section>
    </main>
</body>
</html>