<!DOCTYPE "html">
<html xmlns:th="http://www.thymlealf.org">
    <head>
        <meta charset="utf-8">
        <title>댓글 수정</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div th:replace="layout/header :: header"></div>
        <main>
        <h3>댓글 수정</h3>
        <form th:object="${comment}" th:action="@{|/post/${comment.post.id}/comment/${comment.id}/edit|}" method="post">
            <label>댓글 : <textarea rows="5" cols="50" th:field="*{comment}"></textarea></label><br>
            <button type="submit">수정</button>
        </form>
        </main>
    </body>
</html>
